@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

/* body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
} */

@layer components {
    .containerPadding {
        padding: 5rem;
    }
    .lgHeader {
        font-size: 3rem;
        font-weight: bold;
    }
    .header {
        font-size: 2.5rem;
        font-weight: bold;
    }
    .header2 {
        font-size: 2rem;
        font-weight: bold;
    }
    .subHeader {
        font-size: 1.25rem;
    }
    .subHeader2 {
        font-size: 1rem;
    }
    .lowHeight {
        height: calc(100% - 5rem);
    }
    .navItem {
        @apply h-8 py-0 px-4 rounded-3xl flex items-center justify-center hover:text-black transition-opacity ease-in delay-300;
    }
    .navItemActive {
        @apply bg-white text-black h-8 py-0 px-4 rounded-3xl flex items-center justify-center transition-opacity ease-in delay-300;
    }
    .containerBg {
        position: relative;
        isolation: isolate;
    }
    .containerBg::before {
        content: "";
        position: absolute;
        inset: 0;
        /* background: teal; */
        z-index: -1;
        background-image: url("/images/background/shape.svg");
        background-position: 35rem -5rem;
        background-repeat: no-repeat;
    }
    .perspective {
        perspective: 300px;
        transform: translateY(30px) translateZ(50px) rotate(2deg) rotateX(2deg)
            rotateY(-2deg) translateZ(0px);
    }
}
