@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --swiper-theme-color: #ec4899 !important;
}

/* body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
} */

@layer components {
    .containerPadding {
        padding: 5rem;
    }
    .lgHeader {
        font-size: 3rem;
        font-weight: bold;
    }
    .header {
        font-size: 2.5rem;
        font-weight: bold;
    }
    .header2 {
        font-size: 2rem;
        font-weight: bold;
    }
    .subHeader {
        font-size: 1.25rem;
    }
    .subHeader2 {
        font-size: 1rem;
    }
    .lowHeight {
        height: calc(100% - 5rem);
    }
    .navItem {
        @apply h-8 py-0 px-4 rounded-3xl flex items-center justify-center hover:text-black;
    }
    /* .navActiveBg {
        @apply absolute bg-white text-black h-8 py-0 px-4 rounded-3xl flex items-center justify-center transition-opacity ease-in delay-300;
    } */
    /* .navItem {
        @apply text-black hover:text-black h-8 py-0 px-4 rounded-3xl flex items-center justify-center z-10;
    } */
    .navItemActive {
        @apply bg-white text-black h-8 py-0 px-4 rounded-3xl flex items-center justify-center transition-opacity ease-in delay-300;
    }
    .containerBg::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: bottom left;
        opacity: 0.3;
        /* width: 600px;
        aspect-ratio: 1; */
        /* background-image: url("/images/background/blob1.svg"); */
        width: 700px;
        aspect-ratio: 1.05;
        background-image: url("/images/background/blob.svg");
    }
}
